# Ignorar carpetas de Unity generadas automáticamente
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
Packages/packages-lock.json
.vs/


PRACTICA 1/
PRACTICA 2/
PRACTICA 3/
PRACTICA 4/
PRACTICA 5/
PRACTICA 6/
PRACTICA 7/
PRACTICA 8/
